
body {
  color: #aaa;
  font-family: "Roboto Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 50px 20px 0px 20px;
}

.border-bottom {
  border-bottom: 1px solid #aaa;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.container {
  width: 300px;
}

.forecast {
  text-align: center;
  color: #fff;
}

.day {
  padding-top: 15px;
  height: 75px;
  width: 60px;
  display: inline-grid;
}

.day:hover{
    box-shadow: 
        inset 0px 11px 8px -10px #aaa,
        inset 0px -11px 8px -10px #aaa; 
}

.temp {
  align-self: center;
}

.forecast .title {
  align-self: flex-end;
}

.dimmed {
  color: #666;
}

.normal {
  color: #999;
}

.bright {
  color: #fff;
}

.xsmall {
  font-size: 15px;
  line-height: 20px;
}

.small {
  font-size: 20px;
  line-height: 25px;
}

.medium {
  font-size: 30px;
  line-height: 35px;
}

.large {
  font-size: 65px;
  line-height: 65px;
}

.xlarge {
  font-size: 75px;
  line-height: 75px;
  letter-spacing: -3px;
}

.text-fade {
  color: #666;
}

.align-top {
  vertical-align: top;
}

.background {
  background-position: center;
  background-size:cover;
	background-repeat:no-repeat;

  min-height: 100%;
  width: 100%;
  height: auto;

  position: fixed;
  top: 0;
  left: 0;

  z-index: -1;
}


/* Background images */
@media(orientation: landscape){
  .late-night {
    background-image: url("./img/landscape/12-Late-Night.png");
  }
  
  .mid-night {
    background-image: url("./img/landscape/11-Mid-Night.png");
  }
  
  .early-night {
    background-image: url("./img/landscape/10-Early-Night.png");
  }
  
  .late-evening {
    background-image: url("./img/landscape/09-Late-Evening.png");
  }
  
  .mid-evening {
    background-image: url("./img/landscape/08-Mid-Evening.png");
  }
  
  .early-evening {
    background-image: url("./img/landscape/07-Early-Evening.png");
  }
  
  .late-afternoon {
    background-image: url("./img/landscape/06-Late-Afternoon.png");
  }
  
  .mid-afternoon {
    background-image: url("./img/landscape/05-Mid-Afternoon.png");
  }
  
  .early-afternoon {
    background-image: url("./img/landscape/04-Early-Afternoon.png");
  }
  
  .late-morning {
    background-image: url("./img/landscape/03-Late-Morning.png");
  }
  
  .mid-morning {
    background-image: url("./img/landscape/02-Mid-Morning.png");
  }
  
  .early-morning {
    background-image: url("./img/landscape/01-Early-Morning.png");
  }
}

@media(orientation: portrait) { 
  .late-night {
    background-image: url("./img/mobile/12-Late-Night.png");
  }
  
  .mid-night {
    background-image: url("./img/mobile/11-Mid-Night.png");
  }
  
  .early-night {
    background-image: url("./img/mobile/10-Early-Night.png");
  }
  
  .late-evening {
    background-image: url("./img/mobile/09-Late-Evening.png");
  }
  
  .mid-evening {
    background-image: url("./img/mobile/08-Mid-Evening.png");
  }
  
  .early-evening {
    background-image: url("./img/mobile/07-Early-Evening.png");
  }
  
  .late-afternoon {
    background-image: url("./img/mobile/06-Late-Afternoon.png");
  }
  
  .mid-afternoon {
    background-image: url("./img/mobile/05-Mid-Afternoon.png");
  }
  
  .early-afternoon {
    background-image: url("./img/mobile/04-Early-Afternoon.png");
  }
  
  .late-morning {
    background-image: url("./img/mobile/03-Late-Morning.png");
  }
  
  .mid-morning {
    background-image: url("./img/mobile/02-Mid-Morning.png");
  }
  
  .early-morning {
    background-image: url("./img/mobile/01-Early-Morning.png");
  }
}

